/* ******** Reset CSS ******** */
:root{
      --main-font: sans-serif;
      --font-size: 15px;
      --main-color:#f7df1e;
      --second-color:#222;
      --main-modal-color:rgba(247,222,30,0.85);
      --second-modal-color:rgba(0, 0, 0, 0.85);
      --container-width: 1200px;
}

html{
      box-sizing: border-box;
      font-family: var(--main-font);
      font-size: var(--font-size);
      scroll-behavior: smooth;
}

*,
*.before,
*.afer{
      box-sizing: inherit;
}

body{
      margin: 0;
      overflow-x: hidden;
}

img{
      max-width: 100%;
      height: auto;
}

/* ********** Menu Hamburguesa ************ */
.header{
      position: sticky;
      top:0;
      padding: 1rem;
      background-color: var(--main-color);
      color: var(--second-color);
}

.header h1{
      margin: 0 auto;
      text-align: center;
}

.section{
      padding: 2rem;
      padding-top: 4rem;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: var(--container-width);
      min-height: 100vh;
      text-align: center;
}

.panel{
      position: fixed;
      z-index: 998;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow-y: auto; 
      background-color: var(--second-modal-color);
      transition: transform 0.3s ease;
      transform: translate(-100%, 0);
}

.is-active{
      transform: translate(0,0);
}

.panel-btn{
      position: fixed;
      z-index: 999;
      bottom: 1vh;
      right: 1vw;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--main-color);
}

.menu{
      width: inherit;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
}

.menu a{
      padding: 2rem;
      width: inherit;
      display: block;
      font-size: 1.5rem;
      text-decoration: none;
      color: var(--main-color);
      transition: all 0.3s ease;
}

.menu a:hover{
      font-weight: bold;
      color: var(--second-color);
      background-color: var(--main-modal-color);
}

#contenedor{
      display: flex;
      background-color: var(--second-color);
      min-height: 50vh;
}

#pelotita{
      margin: auto;
      width: 3rem;
      height: 3rem;
      background-color: var(--main-color);
      border-radius: 50%;
}

.panel-btn-flecha{
      position: fixed;
      z-index: 999;
      bottom: 1vh;
      right: calc(4.25rem + 1vw);
      font-size: 2rem;
      font-weight: bold;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;       
      background-color: var(--main-color);
      color: var(--second-color);
      outline: 0;
      border:0;
      cursor: pointer;
      transition: all 0.3s ease-out;
} 
.panel-btn-flecha:hover{
      background-color: var(--second-color);
      color: var(--main-color);
}
.hidden{
      visibility: hidden;
      opacity: 0;
}

.dark-theme-btn{
      position: fixed;
      z-index: 999;
      bottom: 1vh;
      left: 1vw;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      outline: 0;
      border:0;
      font-size: 2rem;
      font-weight: bold;
      color: var(--second-color);
      background-color: #777;
      transition: all 300ms ease-out;
}

.dark-theme-btn:hover{
      background-color: var(--second-color);
      color: var(--main-color);
} 

.dark-mode{
      background-color: var(--second-color);
      color: var(--main-color);
}

.online,
.offline{
      position: sticky;
      top: 0;
      z-index: 1000;
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      background-color: #1b5e20;
      color: #fff;
}
.offline{
      background-color: #b71c1c;
}

.cards{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}
.card{
      background-color: var(--second-color);
      color: var(--main-color);
      transition: all 0.3s ease-out;
}

.card img{
      width: 100%;
      height: auto;
}

.card figcaption{
      padding: 1rem;
}

.filter{
      visibility: hidden;
      opacity: 0;
      order: 1;
}

.slider{
      position: relative;
      border: thin solid black;
      width: 80%;
      margin: 1rem auto;
      text-align: center;
}

.slider-slides{
      position: relative;
      height: 400px;
}

.slider-slide{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: opacity 1s ease;
}

.slider-slide img{
      height: inherit;
      width: inherit;
      object-fit: cover;
      object-position: 20% 20%;
}

.slider-slide.active{
      opacity: 1;
      visibility: visible;
}

.slider-btns{
      position: absolute;
      width: 100%;
      top: 50%;
      display: flex;
      justify-content: space-between;
      font-size: 3rem;
      font-weight: bold;
}

.slider a{
      display: block;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      border: thin solid #000;
      text-decoration: none;
      background-color: #fff;
      color: #000;
      transition: all 0.3s ease;
}

.slider a:hover{
      color: #4d4d4d;
}

@media screen and (min-width: 1024px){
      body{
            display: grid;
            grid-template-columns: 80% 20%;
            grid-template-rows: 4rem auto;
            grid-template-areas: 
            "header header"
            "main panel";
      }

      main{
            grid-area: main;
      }

      .header{
            grid-area:header;
      }

      .panel{
            grid-area: panel;
            align-self: start;
            position: sticky;
            top: 4rem;
            justify-content: flex-start;
            background-color: var(--second-color);
            transform: translate(0,0);
            opacity: 1;
            visibility: visible;
      }

      .panel-btn{
            display: none;
      }

      .menu{
            justify-content: start;
            text-align: right;
      }

      .menu a{
            font-size: 1rem;
            padding: 0.75rem;
      }

      .menu a:hover,
      .menu a.active{
            color: var(--second-color);
            background-color: var(--main-color);
      }

      .panel-btn-flecha{
            right: initial;
            left: calc(4.25rem + 1vw);
      }

}
/* formulario */

.contact-form{
      --form-ok-color: #4caf50;
      --form-error-color: #f44336;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
}

.contact-form >*{
      padding: 0.5rem;
      margin: 1rem auto;
      display: block;
      width: 100%;
}

.contact-form textarea{
      resize: none;
}

.contact-form-legend,
.contact-form-response{
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
}

.contact-form-input,
.contact-form textarea{
font-size: 1rem;
font-family: sans-serif;
}

.contact-form-input[type="submit"]{
      width: 50%;
      font-weight: bold;
      cursor: pointer;
}

.contact-form *::placeholder{
      color: #000;
}

.contact-form [required]:valid{
      border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid{
      border: thin solid var(--form-error-color);
}
.contact-form-error{
      margin-top: -1rem;
      font-size: 80%;
      background-color: var(--form-error-color);
      color: #fff;
      transition: all 800ms ease;
}

.contact-form-error.is-active{
      display: block;
      animation: show-message 1s 1 normal 0s ease-out both;
}

.none{
      display: none;
}

@keyframes show-message{
      0%{
            visibility: hidden;
            opacity: 0;
      }
      100%{
            visibility: visible;
            opacity: 1;
      }
}